.container {
    width: 500px
}

.inputContainer {
    width: 100%;
    /*border: 1px solid red;*/
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/
}

.titleWrap {
    width: 100%;
    margin: 8px 0;
    display: flex;
    align-items: flex-end;
}

.title {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    margin-bottom: 0;
}

.icon {
    display: flex;
    align-items: center;
    margin: 9px 10px;
}
